# Exclude everything by default
/*

# Except for tracked top-level project directories
!/.devcontainer/
!/.github/
!/.github-assets/
!/docs/
!/targets/
!/scripts/
!/subprojects/
/subprojects/*
!/subprojects/*.wrap
!/subprojects/packagefiles
/android/.gradle/
/android/app/build/
/android/.idea/
/android/build/
/scripts/__pycache__/
!/.clang-format
!/.git-blame-ignore-revs
!/.gitattributes
!/.gitignore
!/.gitmodules
!/android/
/android/local.properties
/android/.cache/
/android/third_party/
**/local.properties
!/CONTRIBUTING.md
!/flake.lock
!/flake.nix
!/meson.build
!/meson.options
!/README.md